<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-primary">
      <div class="container-fluid">
        <span class="navbar-brand text-light fw-bold">Cart</span>
      </div>
    </nav>

    <div class="container border rounded d-flex flex-column pb-3 mt-3">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Restaurant</th>
            <th scope="col">Item</th>
            <th scope="col">Price</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% total = 0 %>
          <% for item_id in session[:cart] || [] %>
          <% item = MenuItem.find(item_id) %>
          <tr class="align-middle">
            <td><%= item.restaurant.name %></td>
            <td><%= item.name %></td>
            <td><%= "#{item.price} Kč" %></td>
            <td><%= button_to "Remove", remove_cart_path(item.id), method: :delete, class: "btn btn-outline-danger d-flex ms-auto" %></td>
          </tr>
          <% total += item.price %>
          <% end %>
        </tbody>
      </table>

      <p class="fw-bold ms-auto"><%= "Total #{session[:cart_total]} Kč" %></p>

      <div class="container-fluid d-flex justify-content-between p-0">
        <%= button_to "Clear Cart", clear_cart_path, method: :delete, class: "btn btn-outline-danger" %>
        <%= button_to "Checkout", checkout_path, method: :get, class: "btn btn-primary", disabled: session[:cart].blank? %>
      </div>
    </div>
  </body>
</html>
 