<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <h1><%= @restaurant.name %></h1>
    <h5>
        <%= "#{@restaurant.opening_time.to_fs(:time)} - #{@restaurant.closing_time.to_fs(:time)}" %>
        <%= @restaurant.opening_time.to_fs(:time) < Time.now.to_fs(:time) and
            @restaurant.closing_time.to_fs(:time) > Time.now.to_fs(:time) ?
            "Open" : "Closed" %>
    </h5>
    <h2>Menu</h2>
    <% for item in @menu %>
        <div class="card mt-2">
            <div class="card-body">
                <h5 class="card-title"><%= "#{item.name} - #{item.price} KÄ" %></h5>
                <p class="card-text">
                    <%= item.description %>
                </p>
            </div>
        </div>
    <% end %>
</body>
</html>
